body{
    height:100vh;
    display: flex;
    justify-content: space-around;
    align-content: center;
    text-align: center;
    background-color: rgba(255, 187, 0, 0.89);
}

.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 150px;
}

.title{
    font-size: 48px;
    margin: 8px;
    padding: 12px;
    color: #111; 
    font-family: 'Helvetica Neue', sans-serif;  
    font-weight: bold; 
    letter-spacing: 1px; 
    line-height: 1; 
}

.buttons-container{
    display: flex;
    flex-direction: column;
    gap: 50px;
    color: rgb(17, 17, 17);
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;

}

.grid-container{
    display: grid;
    border-style: solid; 
    width: 816px;
    height: 816px;
    align-self: center;
}


#clearButton {
    transition-duration: 0.4s;
    background-color: rgba(17, 17, 17, 0.90); 
    color: rgb(255, 246, 246); 
    border: 1px solid rgba(17, 17, 17, 0.90);
    border-radius: 8px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    padding: 10px;
    font-size: 24px;
  }
  
#clearButton:hover {
    background-color: #f44336;
    border-color: #f44336;
    color: rgba(255, 187, 0, 0.89);
  }