body{
    display: flex;
    height:100vh;
    justify-content: center;
    align-items: center;
}

.grid-container{
    display: grid;
    border-style: solid; 
    width: 816px;
    height: 816px;
}
